In [4]:
import pandas as pd
import pandas as pd

df = pd.read_csv('predict_admission.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
#step 2
d= df['Chance of Admit ']
print(d)
i = df.iloc[:,1:8]
i.head()

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit , Length: 500, dtype: float64

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0

In [7]:
#step 3
i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          500 non-null    int64
 1   TOEFL Score        500 non-null    int64
 2   University Rating  500 non-null    int64
 3   SOP                500 non-null    float64
 4   LOR                500 non-null    float64
 5   CGPA               500 non-null    float64
 6   Research           500 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 27.5 KB

In [4]:
#step 4

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(i, d, test_size = 0.20, random_state =0)

X_train #80 % of i

X_test #20 % of i

y_train #80 % of i

y_test #20 % of i

90     0.64
254    0.85
283    0.80
445    0.91
461    0.68
       ...
372    0.95
56     0.64
440    0.53
60     0.48
208    0.64
Name: Chance of Admit , Length: 100, dtype: float64

In [5]:
#step 5
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

slope = lr.coef_

intercept = lr.intercept_

print(slope)
print(intercept)

[0.00214141 0.00277039 0.00555693 0.00051031 0.02041338 0.11505398
 0.02412567]
-1.3441673411950723

In [6]:
#step 6
prediction = lr.predict(X_test)
 
prediction

array([0.6606252 , 0.83467888, 0.77803235, 0.88054515, 0.60126564,
       0.64356569, 0.53081352, 0.69581338, 0.52494695, 0.74711904,
       0.61091713, 0.70857888, 0.62202889, 0.75371215, 0.88455163,
       0.50857541, 0.82439288, 0.64614159, 0.7656139 , 0.53346257,
       0.51561087, 0.72319839, 0.52118775, 0.92174074, 0.8332172 ,
       0.72651112, 0.69865521, 0.50871376, 0.58246086, 0.59618334,
       0.72743587, 0.48564416, 0.65331018, 0.8414552 , 0.56459962,
       0.59803765, 0.84391714, 0.86746389, 0.59031772, 0.65993134,
       0.67020768, 0.90220251, 0.86565391, 0.72223457, 0.77319666,
       0.8068659 , 0.97014963, 0.85112801, 0.6429692 , 0.65569499,
       0.63193629, 0.6367591 , 0.61353916, 0.80117655, 0.6942999 ,
       0.85574591, 0.52489959, 0.86276624, 0.60022041, 0.63653589,
       0.49798224, 0.90699384, 0.61965598, 0.94547309, 0.7196482 ,
       0.61602013, 0.73614278, 0.8434937 , 0.519103  , 0.77895777,
       0.8947432 , 0.78381774, 0.69730948, 0.63992055, 0.78922356,
       0.916447  , 0.7522116 , 0.72918547, 0.55987804, 0.66139049,
       0.59504557, 0.8592551 , 0.55418168, 0.67073234, 0.76931897,
       0.55440527, 0.81743067, 0.61916368, 0.4583537 , 0.66019097,
       0.71853303, 0.78402829, 0.65818434, 0.70588416, 0.62676455,
       0.94214646, 0.54543   , 0.53636442, 0.6003905 , 0.6153504 ])

In [7]:
# step 7
from sklearn import metrics
print('Mean Absolute Error(MAE):', metrics.mean_absolute_error(y_test, prediction))
print('Mean Squared Error(MSE):', metrics.mean_squared_error(y_test, prediction))
print('Root Mean Squared Error(RMSE):', np.sqrt(metrics.mean_squared_error(y_test, prediction)))

Mean Absolute Error(MAE): 0.04825389374865475
Mean Squared Error(MSE): 0.004079680034602108
Root Mean Squared Error(RMSE): 0.06387237301527247